<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			      value="%-d{yyyy-MM-dd HH:mm:ss.SSS}||[%p]||%m%n" />
		</layout>
	</appender>

	<appender name="local_file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/source.log" />
		<param name="maxFileSize" value="100MB" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			     value="%-d{yyyy-MM-dd HH:mm:ss.SSS}||[%p]||%m%n" />
		</layout>
	</appender>

	<appender name="avro"
		class="org.apache.flume.clients.log4jappender.Log4jAppender">
		<param name="Hostname" value="192.168.2.106" />
		<param name="Port" value="4141" />
		<param name="timeout" value="100000" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss.SSS}||[%p]||%m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="128" />
		<param name="blocking" value="false" />
		<appender-ref ref="avro" />
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="ASYNC" />
		<appender-ref ref="local_file" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
